body {
	background-color: #ffffff;
    background-image:url(../images/bg.jpg);
    background-repeat: repeat;
	font-family: Tahoma, Arial;
	font-size:15px;
}

#wrap {
	margin:0 auto;
	width:950px;
}

#table td {
	border:1px solid #333333;
    width:30px;
    height:30px;
    font-family: 'Elsie Swash Caps', cursive;
}

.litera {
    font-family: 'Elsie Swash Caps', cursive;
    background-image:url(../images/darker.png);
    background-position: center center;
    padding-top:3px;
    font-size:20px;
    width:30px;
    height:27px;
    margin-bottom:5px;
    text-align: center;
    -moz-border-radius:5px;
    border-radius: 5px;
    border:2px solid #7e2e1f;
    cursor:pointer;
}

h3 {
    margin:0;
    padding:0;
}

#table {
	border:1px solid #333333;
	text-align:center;
	margin-right: 10px;
}

#joc {
	float:left;
	width:530px;
	margin-right: 10px;
}

#player1 {
	float:left;
	width:200px;
	margin-right: 10px;
}

#player2 {
	float:left;
	width:200px;
}

#login {
    font-family: 'Elsie Swash Caps', cursive;
    margin:auto;
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
    width:500px;
}
   
#login .input_2 {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 25px;
    background: transparent;
    border: 3px dashed #5C2E00;
    padding: 10px;
}

#monlogo {
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 15px;
}

#blogin {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    position: relative;
    left: -20px;
    cursor:pointer;
}

#butonpag {
    font-family: 'Elsie Swash Caps', cursive;
	font-size: 22px;
	margin: 0 auto;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 150px;
	position: relative;
	left: -20px;
    cursor:pointer;
}

.hidden {
    display: none;
}

#others {
    display: none;
}

#refacere {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    position: relative;
    left: -20px;
    cursor:pointer;
}